# project
_site
.sass-cache
.vagrant
.jekyll-cache
.jekyll-metadata

# Python virtual environment
.venv/
venv/

# general
.DS_Store
Thumbs.db
ehthumbs.db

# Node.js
node_modules/

Gemfile.lock

beautiful-jekyll-theme-*.gem
