/* ==========================================================================
 Forms
 ========================================================================== */
.staticman-comments form {
  margin: 0 0 5px;
  padding: 1em;
  background-color: #f2f3f3;
}

/*
}

.staticman-comments form br {
  display: none;
}

.staticman-comments label, .staticman-comments input, .staticman-comments button, .staticman-comments textarea {
  vertical-align: baseline;
  vertical-align: middle;
}

.staticman-comments input, .staticman-comments button, .staticman-comments textarea {
  box-sizing: border-box;
}

.staticman-comments label {
  display: block;
  margin-bottom: 0.25em;
  color: #494e52;
  cursor: pointer;
}

.staticman-comments label small {
  font-size: 0.75em;
}

.staticman-comments label input, .staticman-comments label textarea {
  display: block;
}

.staticman-comments input, .staticman-comments textarea {
  display: inline-block;
  width: 100%;
  padding: 0.25em;
  margin-bottom: 0.5em;
  color: #494e52;
  background-color: #fff;
  border: #f2f3f3;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgb(0 0 0 / 12.5%);
}

.staticman-comments .input-mini {
  width: 60px;
}

.staticman-comments .input-small {
  width: 90px;
}

.staticman-comments input[type="button"], .staticman-comments input[type="reset"], .staticman-comments input[type="submit"] {
  width: auto;
  height: auto;
  cursor: pointer;
  overflow: visible;
}

.staticman-comments textarea {
  resize: vertical;
  height: auto;
  overflow: auto;
  vertical-align: top;
}

.staticman-comments input[type="hidden"] {
  display: none;
}

.staticman-comments .form {
  position: relative;
}

/*
 Focus & active state
 ========================================================================== */
.staticman-comments input:focus, .staticman-comments textarea:focus {
  border-color: #7a8288;
  outline: 0;
  outline: thin dotted \9;
  box-shadow: inset 0 1px 3px rgb(73 78 82 / 6%), 0 0 5px rgb(122 130 136 / 70%);
}

.staticman-comments input[type="file"]:focus, .staticman-comments input[type="radio"]:focus, .staticman-comments input[type="checkbox"]:focus:focus {
  box-shadow: none;
}

/*
 Help text
 ========================================================================== */
.staticman-comments .form-text {
  color: #898c8e;
  display: block;
  margin-bottom: 1em;
  line-height: 1em;
}